/* NavbarOther.css */

.navbar-other {
  background-color: #34495e; /* Retro background color */
  padding: 1rem; /* Adjust padding as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Position relative for pseudo-element */
  overflow: hidden; /* Hide overflow to prevent glitch from showing outside */
}

.navbar-other::before {
  content: ''; /* Create pseudo-element for glitch effect */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
      rgba(255, 255, 255, 0.1) 0,
      rgba(255, 255, 255, 0.1) 5px,
      transparent 6px,
      transparent 12px
  ); /* Glitch effect background */
  animation: glitch 6s infinite; /* Apply glitch animation */
  pointer-events: none; /* Ensure the pseudo-element doesn't interfere with mouse events */
  z-index: -1; /* Push the pseudo-element behind the content */
}

@keyframes glitch {
  0% {
      opacity: 1;
      transform: translateX(0);
  }
  25% {
      opacity: 0.9;
      transform: translateX(-4px);
  }
  50% {
      opacity: 0.8;
      transform: translateX(4px);
  }
  75% {
      opacity: 0.9;
      transform: translateX(-4px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

/* Add any additional styling for the navbar links and buttons */
.nav-link{
  padding-left: 35px;
  padding-right: 35px;
  align-items: center;
  font-size: 20px;
}

.nav-link:hover{
  background-color: blue;
}